*{
	background-color: aqua;
	font-family: Verdana, Geneva, Tahoma, sans-serif;

}
header>h1{
	color:orange;
	text-align: center;
	text-decoration: dotted;
}
nav>ol{
	text-decoration: none;
	display:flex;
	gap:50px;
	align-items: center;
	marker: none;
}
li>a{
	text-decoration: none;
	color:rgb(25, 121, 36);
	align-content: center;
}
h3{
	text-align: center;
	font-style: oblique;
}
/* #profile{
	display:inline-block;
} */
#info{
	width:65%;
	border:2px solid blue;
	border:none;
	height:100px;
}
article p+div {
	width:200px;
	height:200px;
	border:2px rgb(0, 255, 145) solid;
	border-radius: 50%;
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkXWV0iI5nnJva8wavXwQnXCZiBvkJZLhKEQ&s");
	background-size: cover;
	align-items:center;
}

p~h4{
	display:inline;
	color:indianred;
}
img+h4{
	text-decoration: underline;
	text-align: center;
}
img~p,img~button{
	text-align:center;
}
#project>div{
	width:25%;
	height:30%;
	border:2px solid green;
	border-radius: 15px;
	display: inline-block;
	padding: 20px;
	content:justify;
	margin:20px;

}
img~button{
	align-items: center;
	color:chocolate;
	border:2px solid aliceblue;
	border-radius:20px;
	background-color: burlywood;
}
img~button:hover{
	color:greenyellow;
	background-color: rgb(25, 32, 221);
	cursor: pointer;
	text-decoration: dotted;
}
h3>img{

	padding-left: 50%;

    
}
caption{
	text-align: center;
	margin-bottom: 20px;
}

table{
	padding: 20px;
	margin:20px;
	display:inline-block;
	border:2px solid blue;
}

tr{
	padding:2px;
	/* background-color: black; */
}
th{
	margin:10px;
}
td{
	padding: 2px 50px;
}

#form>h2{
	text-align:center;
	color:darkgoldenrod;
}
/* #form{
	border: 2px solid black;
} */

#contact div{
	align-items: center;
	width:500px;
	/* height:200px; */
	padding:2px;
	/* margin:20px; */
	display:block;
	margin:10px;
	position:relative;
	display:grid;
	
	
}
form button{
	align-content: center;
	color:rgb(237, 221, 215);
	font-weight: bold;
	display:block;
	width:100px;
	border:2px solid green;
	background-color: blueviolet;
	border-radius:7px;
}
